.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#bookGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bookCover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 300px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}

.bookCover h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.bookCover p {
    margin-bottom: 5px;
}

.buttonContainer {
    margin-top: 10px;
}

.buttonContainer button {
    margin-right: 5px;
}